h1 {
  color: black;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h2 {
  font-size: 60px;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h3 {
  font-size: 15px;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.icon {
  display: block;
  font-size: 120px;
  margin: -50px -10px;
}

.highandlow-temp {
  font-size: 18px;
}

.weather-app {
  max-width: 450px;
  max-height: 550px;
  display: block;
  box-shadow: 10px 10px 15px #48484a;
  border: hidden grey;
  padding: 20px 20px;
  margin: 60px auto;
  border-radius: 15px;
  /* background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  ); */

  background: linear-gradient(
    180deg,
    rgb(254, 173, 166) 0%,
    rgb(245, 239, 239) 100%
  );
}

.button {
  background-color: white;

  border: dotted grey;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.button1 {
  background-color: white;

  border: dotted grey;
  margin: 0 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.col-6 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.card-body {
  display: inline-block;
  padding: 10px 5px;
}
.daily-temp {
  margin: 0 5px;
}
.col-2 {
  border-radius: 8px;
  border: dotted grey;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: linear-gradient(top, #dfe9f3 0%, white 100%);
  text-align: center;
}

#celsius {
  font-size: 30px;
  position: relative;
  top: -20px;
  text-decoration: none;
  color: none;
}
#farenheit {
  font-size: 30px;
  position: relative;
  top: -20px;
  text-decoration: none;
}

.col-6 .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.col-6.active:hover {
  text-decoration: none;
}

#current-button {
  cursor: pointer;
  font-size: 20px;
}
#farenheitForecast {
  font-size: 14px;
}

#open-source {
  font-size: 15px;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
